.ingredient {
    display: flex;
}

.button {
    position: absolute;
    right: 0;
    top: 35%;
    transform: translateY(-50%);
    flex-basis: 10%;
    margin: 10px;
}

.ingredients {
    margin-bottom: 1px;
    border: 1px solid black;
    border-top: none;
    line-height: 35px;
    position: relative;
    flex-basis: 100%;
}

