.ingredient {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.floatRight {
    float: right;
}

.ingredients {
    margin-bottom: 1px;
    border: 1px solid black;
    line-height: 25px;
}