/* reset */
button {
  all: unset;
}

.SelectTrigger {
  cursor: pointer;

  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;

  padding: 0 12px;

  line-height: 24px;
  color: var(--color-light-100);

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-300);
  border-radius: 1px;

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }
}

.SelectTrigger:hover {
  background-color: var(--color-dark-500);
}

.SelectIcon {
  display: flex;
  align-items: center;
}

.SelectContent {
  width: 236px;

  font-size: 16px;
  line-height: 24px;
  color: var(--color-light-100);

  background-color: var(--color-dark-900);
  border-right: 1px solid var(--color-dark-300);
  border-bottom: 1px solid var(--color-dark-300);
  border-left: 1px solid var(--color-dark-300);
}

.SelectItem {
  cursor: pointer;
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  padding: 6px 0 6px 12px;

  font-size: 16px;
  line-height: 35px;
}

.SelectItem[data-disabled] {
  pointer-events: none;
  color: var(--color-dark-300);
}

.SelectItem[data-highlighted] {
  color: var(--color-accent-300);
  background-color: var(--color-accent-900);
  outline: none;
}

.disabledTrigger[data-placeholder] {
  pointer-events: none;
  color: var(--color-dark-300);
  border: 1px solid var(--color-dark-300);
}

.SelectLabel {
  font-size: 14px;
  line-height: 24px;
}

.labelWrapper {
}

.disabledLabel {
  color: var(--color-dark-300);
}

.SelectTrigger[data-state='open'] .SelectIcon {
  transform: rotate(180deg);
}

.default {
  width: 210px;
  height: 35px;
  font-size: 16px;
}

.pagination {
  width: 50px;
  height: 35px;
  background-color: var(--color-dark-700);
}

.paginationContent {
  width: 76px;
  background-color: var(--color-dark-700);

  .SelectItem {
    padding: 0 0 0 12px;
  }
}

.disabledTrigger {
  pointer-events: none;
  border: 1px solid var(--color-dark-300);

  &::placeholder {
    color: var(--color-dark-300);
  }
}
