.button {
  all: unset;
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }
}

.primary {
  border-radius: 4px;
  background: var(--Primary-500, #8c61ff);
  box-shadow: 0px 4px 18px 0px rgba(140, 97, 255, 0.35);
  display: inline-flex;
  padding: 6px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.secondary {
  display: flex;
  height: 36px;
  padding: 6px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background: var(--Dark-300, #4c4c4c);
  box-shadow: 0px 2px 10px 0px rgba(109, 109, 109, 0.25);

  &:active {
    background: var(--Dark-500, #333);
  }

  &:hover {
    background: var(--Dark-100, #808080);
  }

  &:focus {
    border: 2px solid var(--Info-700, #2f68cc);
    background: var(--Dark-300, #4c4c4c);
  }

  &:disabled {
    background: var(--Dark-300, #4c4c4c);
  }
}

.tertiary {
  background-color: blue;
}

.link {
  background-color: yellow;
}

.fullWidth {
  width: 100%;
}
