.position {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: normal;
    align-content: space-evenly;
    flex-wrap: nowrap;
    flex-basis: calc(100% / 3);
}

