.paella {
    max-height: 300px;
    max-width: 300px;
}

.toggleButton {
    min-width: 300px;
}

.ingredients {
    margin-bottom: 1px;
    border: 1px solid black;
    line-height: 8px;
}

.ingredient {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.floatRight {
    float: right;
}

.text {
    text-align: center;
}

