.element {
    border: 1px solid black;
    background-color: rgba(255, 238, 122, 0.5);
    margin: 2px;
    padding: 7px;
    box-shadow: 5px 5px 5px rgba(71, 255, 45, 0.3);
}

.paella {
    max-height: 300px;
    max-width: 300px;
}

.toggleButton {
    min-width: 300px;
}

.ingredients {
    margin-bottom: 1px;
    border: 1px solid black;
    line-height: 8px;
}

.ingredient {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: darkblue;
}

.floatRight {
    float: right;
}

.text {
    text-align: center;
    color: darkblue;
}

