.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    background-color: aquamarine;
}

.items {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icons {
    height: 60px;
    width: 60px;
    background-color: brown;
}